
// Footer style
.footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    height: 10rem;
    color: white;
    list-style-type: none;
    cursor: pointer;

    ul {
        list-style-type: none;
    }
    
    .ftrub {
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    
    .ftlogga {
       width: 15rem;
       height: 7rem;
    }
    
    .ftlogga:hover {
        @include opacityindex;
    }

    a {
        color: white;
    text-decoration: none;
    }
}

    // Footer responsiv gör loggan och text mindre
    @media screen and (max-width: 600px) {
    .footer {
    font-size: 14px;
    flex-direction: column;
    position: relative;
    left: 10%;
    padding: 5rem;
    }

    #ftrub {
    margin-top: 3rem;
    }
    
    .ftlogga {
    width: 12rem;
    height: 5.5rem;
    padding-top: 5rem;
    } 
    }
