
@mixin reftextstyle {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 4rem;
}
// Rubrik och undertext till referenserna
#VaraReferenser {
    @include reftextstyle;
    font-size: 52px;
}


#VaraReferenserText {
    @include reftextstyle;
    font-size: 18px;
}

// Stylar loggor till referenserna
.bild {
    width: 15rem;
    margin: 2rem;
}

#bild:hover {
    opacity: 0.6;
}

.RefBilder {
    display: grid;
    grid-template-columns: auto auto;
    margin: 7rem;
    justify-content: space-evenly;
    text-align: center;
    }

    // Responsiva loggor och rubrik
@media screen and (max-width: 768px) {
    .RefBilder {
        flex-direction: column;
    }
    .bild {
    width: 10rem;
}
#VaraReferenser {
    font-size: 32px;
}
#VaraReferenserText {
    font-size: 12px;
    margin: 6rem;
}
}