
#VaraReferenser {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 4rem;
    font-size: 52px;
}


#VaraReferenserText {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 4rem;
    font-size: 18px;
}

#bild {
    width: 15rem;
    margin: 2rem;
}

#bild:hover {
    opacity: 0.6;
}
.RefBilder {
    display: grid;
    grid-template-columns: auto auto;
    margin: 7rem;
    justify-content: space-evenly;
    text-align: center;
    
}

@media screen and (max-width: 768px) {
    .RefBilder {
        flex-direction: column;
    }
    #bild {
    width: 10rem;
}
#VaraReferenser {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 4rem;
    font-size: 32px;
}
#VaraReferenserText {
    font-size: 12px;
    margin: 6rem;
}
}